@mixin responsive($screenwidth) {
    @media(max-width: $screenwidth) {
        @content;
    }
}

@mixin flex ($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin style-btn ($height, $bg, $colorText) {
    display: inline-block;
    height: $height;
    background-color: $bg;
    color: $colorText;
    border-radius: 6px;
    padding: 0 5.0rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: $height;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background-color: $colorText;
        color: $bg;
    }

}